@page "/customers"
@using System.Net.Http
@inject HttpClient Http

<h1>Customer</h1>


@if (CustomerList != null)
{
    @foreach (var item in CustomerList)
    {
        <p>@item.Firstname @item.Lastname - @item.Address (Balance: $@item.Balancedue)</p>
    }
}
else
{
    <p>Loading Customers...</p>
}



<button class="btn btn-primary" @onclick="ClickMe"> Random Customer </button>

@if (Customer != null)
{
    <p>@Customer.Firstname @Customer.Lastname - @Customer.Address (Balance: $@Customer.Balancedue)</p>
}

@code {

    private int pageSize = 10;
    private int pageNumber = 1;
    private Customer[] CustomerList;

    private Customer Customer;

    private Random random = new Random();

    protected override async Task OnInitializedAsync()
    {
        CustomerList = await Http.GetFromJsonAsync<Customer[]>("api/customer");
    }

    public async void ClickMe()
    {
        var customer = await Http.GetFromJsonAsync<Customer>("api/customer/" + random.Next(1, 5000).ToString());
        
        if (customer != null)
        {
            Customer = customer;
        }
        else
        {
            ClickMe();
        }
    }
    
}
