@page "/customers"
@using System.Net.Http
@inject HttpClient HttpLib

<h1>Customer</h1>


@if (CustomerList != null)
{

    <div class="container-fluid mb-5">
    <div class="row">
            @foreach (var item in CustomerList)
            {
            <div class="col-lg-2 col-md-3 col-sm-6 mb-1">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.Firstname @item.Lastname</h5>
                            <p class="card-text">Phone: @item.Phone</p>
                            <p class="card-text">Email: @item.Address</p>
                            <p class="card-text">Balance: $@item.Balancedue</p>
                            <a href="#" class="btn btn-primary">View Customer</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    <div class="btn-group btn-group-sm mr-5" role="group">
        <button type="button" class="btn btn-primary" @onclick="PreviousPage"> Previous Page </button>
        <button type="button" class="btn btn-primary" @onclick="RandomCustomer"> Random Customer </button>
        <button type="button" class="btn btn-primary" @onclick="NextPage"> Next Page </button>
    </div>
</div>


}
else
{
    <p>Loading Customers...</p>
}



@if (Customer != null)
{
    <p>@Customer.Firstname @Customer.Lastname - @Customer.Address (Balance: $@Customer.Balancedue)</p>
}

@code {

    private int pageSize = 10;
    private int pageNumber = 1;
    private Customer[] CustomerList;

    private Customer Customer;

    private Random random = new Random();

    protected override async Task OnInitializedAsync()
    {
        var customerList = await HttpLib.GetFromJsonAsync<Customer[]>($"api/customer?pageNumber={pageNumber}&pageSize={pageSize}");
        
        if (customerList.Any())
        {
            CustomerList = customerList;
        }
            
    }

    private async Task<Customer[]> Paginate()
    {
        return await HttpLib.GetFromJsonAsync<Customer[]>($"api/customer?pageNumber={pageNumber}&pageSize={pageSize}");
    }

    public async void RandomCustomer()
    {
        var customer = await HttpLib.GetFromJsonAsync<Customer>("api/customer/" + random.Next(1, 5000).ToString());
        
        if (customer != null)
        {
            Customer = customer;
        }
        else
        {
            RandomCustomer();
        }
    }

    public async void PreviousPage()
    {
        Console.WriteLine("clicked previous");
        pageNumber--;

        CustomerList = await Paginate();
    }

    public async void NextPage()
    {
        Console.WriteLine("clicked");
        pageNumber++;

        CustomerList = await Paginate();
    }
    
}
