@page "/customers"
@using System.Net.Http
@inject HttpClient HttpLib

<h1>Customer</h1>


@if (CustomerList != null)
{
    @foreach (var item in CustomerList)
    {
        <p>@item.Firstname @item.Lastname - @item.Address (Balance: $@item.Balancedue)</p>
    }
}
else
{
    <p>Loading Customers...</p>
}



<div class="container-fluid mb-5">
    <div class="btn-group btn-group-sm mr-5" role="group">
        <button type="button" class="btn btn-primary" @onclick="PreviousPage"> Previous Page </button>
        <button type="button" class="btn btn-primary" @onclick="RandomCustomer"> Random Customer </button>
        <button type="button" class="btn btn-primary" @onclick="NextPage"> Next Page </button>
    </div>
</div>


@if (Customer != null)
{
    <p>@Customer.Firstname @Customer.Lastname - @Customer.Address (Balance: $@Customer.Balancedue)</p>
}

@code {

    private int pageSize = 10;
    private int pageNumber = 1;
    private Customer[] CustomerList;

    private Customer Customer;

    private Random random = new Random();

    protected override async Task OnInitializedAsync()
    {
        var customerList = await HttpLib.GetFromJsonAsync<Customer[]>($"api/customer?pageNumber={pageNumber}&pageSize={pageSize}");
        
        if (customerList.Any())
        {
            CustomerList = customerList;
        }
            
    }

    private async Task<Customer[]> Paginate()
    {
        return await HttpLib.GetFromJsonAsync<Customer[]>($"api/customer?pageNumber={pageNumber}&pageSize={pageSize}");
    }

    public async void RandomCustomer()
    {
        var customer = await HttpLib.GetFromJsonAsync<Customer>("api/customer/" + random.Next(1, 5000).ToString());
        
        if (customer != null)
        {
            Customer = customer;
        }
        else
        {
            RandomCustomer();
        }
    }

    public async void PreviousPage()
    {
        Console.WriteLine("clicked previous");
        pageNumber--;

        CustomerList = await Paginate();
    }

    public async void NextPage()
    {
        Console.WriteLine("clicked");
        pageNumber++;

        CustomerList = await Paginate();
    }
    
}
